
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #fff; 
    align-items: stretch;
}

header {
    background-color: rgb(25, 77, 115); 
    width: 250px; 
    height: 96%; 
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 50;
}

header nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding-top: 18px;
}

header h1 {
    font-size: 24px;
    font-weight: bold; 
    margin: 0 12px 16px;
    padding-bottom: 8px;
}

header a {
    color: white;
    padding: 6px 12px; 
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: normal; 
}

nav a span {
    font-weight: 700;
    text-shadow: #fff 0px 0px 1px;

}

header a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

main {
    margin-left: 250px; 
    padding: 32px 28px;
    width: calc(100% - 250px);
    flex-grow: 1;
    width: 100%;
    float: left;
    height: auto;
}

section {
    width: 100%; 
    margin: 0 auto; 
    height: auto;
} 

h2 {
    font-size: 35px;
    text-align: left; 
    margin-bottom: 25px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    width: 100%;
    height: 100%;
}

label {
    font-size: 14px; 
    font-weight: 700;
    color: rgb(25, 77, 115); 
}


input, textarea, select {
    width: 100%;
    padding: 9px 12px;
    font-size: 14px;
    border: 1px solid #d0d6db;
    border-radius: 3px;
    background: #fff;
    transition: border-color .15s, box-shadow .15s;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #6a9edb; 
    box-shadow: 0 0 0 1px #6a9edb;
}

textarea {
    min-height: 120px; 
    resize: vertical;
}


button {
    width: auto;
    padding: 10px 18px;
    margin-top: 3px;
    background: rgb(25, 77, 115); 
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600; 
    cursor: pointer;
    align-self: flex-start; 
    font-size: 14px;
    transition: background-color 0.2s;
}

button:hover { 
    background: #143e5e; 
}